.modal-loading {
	margin: 20px auto;
	width: 67px;
	height: 38px;
	color: #fff;
	border: none;
	background: #9b9b9b;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal__background {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	z-index: 0;
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 700px;
	height: 700px;
	background: white;
	z-index: 10;
	border-radius: 16px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal__image {
	margin: 25px 0;
	width: 405px;
	height: 405px;
	object-fit: cover;
	box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
	border-radius: 24px;
}

.form {
	display: flex;
	flex-direction: column;
	width: 645px;
}

.form__label {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #374151;
}

.form__textarea {
	height: 105px;
	background: #ffffff;
	border: 1px solid #d1d5db;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
}

.form__textarea:focus {
	outline: none !important;
	border: 1px solid #4f46e5;
}

.form__text {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #6b7280;
}

.form__input {
	margin: 20px auto;
	width: 67px;
	height: 38px;
	color: #fff;
	border: none;
	background: #4f46e5;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
}

.comment {
	width: 100%;
	display: flex;
	align-items: center;
}

.comment__author {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: #374151;
}

.comment__text {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #212328;
}
